/* .orders-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    overflow-x: auto;
  }
   */
  .orders-container h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .table-wrapper {
    max-height: 400px; /* Fixed height for scrolling */
    overflow: auto; /* Enable scrollbars */
    border: 1px solid #ddd;
  }
  
  .orders-container {
    width: 80%;
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  table {
    width: 80%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
    position: static;
    top: 0;
    z-index: 2;
  }
  
  
  /* Responsive Table */
  @media (max-width: 768px) {
    .orders-container {
      padding: 10px;
    }
  
    table {
      font-size: 14px;
    }
  }
  